<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="../styles/common.css" rel="stylesheet">
  <link href="../styles/wallet.css" rel="stylesheet">
  <link href="../styles/iconfont.css" rel="stylesheet">
  <script src="../lib/jquery-3.3.1.min.js"></script>
</head>

<body>
  <main class="dapp-content">
    <h1><strong>Account</strong> overview</h1>
    <div class="wallet-box-list">
      <a class="wallet-box" href="0xF6026cE0f721cd8Ca85624bCb0Ca0De9E54986a4" onclick="return false;">
        <span></span>
        <h3 class="not-ens-name">
          <i class="iconfont icon-key"></i>
          Account
        </h3>
        <span class="account-balance">
          0,00
          <span>wdc</span>
        </span>
        <span class="account-id">0xF6026cE0f721cd8Ca85624bCb0Ca0De9E54986a4</span>
      </a>
    </div>
  </main>
</body>
<script language="javascript" type="text/javascript">
  $(document).ready(function () {
    $(".wallet-box").click(function(){
      $('.dapp-header a', parent.document).removeClass("active");

      localStorage.setItem("account-key", $(this).attr("href"));
      $(location).attr("href", "account.html");
    });
  });
</script>
</html>